@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=GFS+Didot&family=Gugi&family=Koulen&family=Poppins&display=swap');

body.resize {
  transform-origin: top left;
  transform: scale(1); /* Ajustez la valeur de la mise à l'échelle selon vos besoins */
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}


.bloc {
  scroll-snap-align: start; /* Indique où l'élément doit s'aligner après le défilement */
  scroll-snap-stop: always; /* Force l'arrêt du défilement à chaque point d'arrêt */
  scroll-snap-type: y mandatory; /* Active le défilement par défilement régulé sur l'axe Y */
  width: 100%;
  height: 100vh;
}

*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;

}

html {
  scroll-behavior: smooth;
  // overflow-x: hidden;
  // width: 100vw;
  margin: 0;
  padding: 0;
}

body{

    background-color: #000 ;
    color: #fff;
    // font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;

    font-family: 'Poppins', sans-serif;
    cursor: none;
    overflow-x: hidden;
    margin: 0;
    padding: 0;

}




@media screen and (max-width: 767px) {
    body {
      font-size: 1.1rem; /* Augmenter la taille de police pour les mobiles */
    }

    

    
  }

  /* Média query pour les ordinateurs de bureau */
@media screen and (min-width: 768px) {
    body {
      font-size: 1rem; /* Revenir à la taille de police de base pour les ordinateurs de bureau */
    }
  }

 

a{
  cursor: none;
}  

h1{
    // font-family: 'Birthstone', cursive;
    // font-family: 'Gugi', cursive;
    // font-family: 'GFS Didot', serif;
    font-family: 'Koulen', cursive;
    font-size: 7em;
    margin: 0%;
    padding: 0%;

    font-weight: 100;
    width: fit-content;
}
.hero{
    width: 100%;
    height: 100vh;
    // margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1050px) {
  .hero{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
}

  .hero-section{

    display: flex;
    flex-direction: row;

    // width: fit-content;
    // margin: auto;
    // align-items: center;
    // gap: 2em;
    // flex-wrap: wrap;
    justify-content: space-around;

    .hero-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;

        p{
            color: white;
            font-size: 1em;
            line-height: 1.6em;
            width: 100%;
    
        }
    }

    .hero-img{
        width: 600px;
    }



    // .hero-button{
    //     display: flex;
    //     justify-content: start;
    // }
    button {
      cursor: none;
        font-family: 'Poppins', sans-serif;
        margin-top: 50px;
        text-decoration: none;
        position: relative;
        border: none;
        font-size: 14px;    
        color: black;
        font-weight: 600;
        width: 8em;
        height: 2.5em;
        line-height: 2em;
        text-align: center;
        background: linear-gradient(90deg,#077CC1,#FFCD19,#FFCD19,#077CC1);
        background-size: 300%;
        border-radius: 30px;
        z-index: 1;
        transition: 0.5s;
        
      }
      
      button:hover {
        animation: ani 8s linear infinite;
        border: none;
      }
      
      @keyframes ani {
        0% {
          background-position: 0%;
        }
      
        100% {
          background-position: 400%;
        }
      }
      
      button:before {
        content: '';
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        z-index: -1;
        background: linear-gradient(90deg,#FFCD19,#FFCD19,#077CC1,#077CC1);
        background-size: 400%;
        border-radius: 20px;
        transition: 1s;
        // padding: 0.1rem;
      }
      
      button:hover::before {
        filter: blur(20px);
      }
      
      button:active {
        background: linear-gradient(32deg,#077CC1,#FFCD19,#FFCD19,#077CC1);
      }
  }

  @media screen and (max-width: 767px) {
    body 
    
      {
      cursor: none;


      .hero-img{
        position: relative;
        top: -80px;
        transform: scale(0.6,0.6);
      }


    }



    

    
  }




  
  @media screen and (max-width: 1050px) {

    

    .hero-section{


        flex-wrap: wrap;
        width: 100%;
        justify-content: center; 


        .hero-text{
            display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: center;
            width: 100%;

            h1{
              text-align: center;


            }
    
            p{
                color: white;
                font-size: 1em;
                line-height: 1.5em;
                width: 70%;
                // margin-left:auto;
            }
        }
  }

  .hero-img{
    transform: scale(0.8,0.8);

  }

  h1{
    font-size: 3.5em !important;
  }
}



  @media screen and (min-width: 1050px) {

    .hero-img{
      position: relative;
      right: 80px;
    }

    .hero-text{
      display: flex;
      flex-direction: column;
      align-items: start !important ;
      margin-left: 20vw;
      // justify-content: center;
      width: 100%;
      z-index: 10;

      p{
          color: #7D7D7D;
          font-size: 1em;
          line-height: 1.6em;
          width: 80% !important;
          
  
      }
  
  }

}






.hidden{
  display: none;
  visibility: hidden;
  // transform-origin: center center;
  // scale: 0;
  // transition: all 2s ease-in-out;

}


//LOADER
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1); /* Couleur du fond noir avec une opacité de 1 */
  z-index: 9998; /* Assurez-vous que l'overlay est en-dessous du loader */
  display: none; /* Cache l'overlay par défaut */
}

body.loading .overlay {
  display: block; /* Affiche l'overlay lorsque la classe 'loading' est ajoutée au body */
  // transition: all 1s ease-in-out;
}

/* Ajoutez une classe au body pour indiquer le chargement */
body.loading {
  overflow: hidden; /* Empêche le défilement pendant le chargement */
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  position: fixed; /* Utilisez une position fixe pour centrer le loader */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centre horizontalement et verticalement */
  z-index: 9999; /* Assurez-vous que le loader est au-dessus des autres éléments */
}

.loader:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  // border-radius: 50%
  background-color: transparent; /* Définissez la couleur du fond sur noir */
}


.loader-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loader-block {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 2px;
  background-color: #fff;
  box-shadow: 0 0 20px #fff;
  animation: loader_562 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.loader-block:nth-child(1) {
  animation-delay: 0.1s;
}

.loader-block:nth-child(2) {
  animation-delay: 0.2s;
}

.loader-block:nth-child(3) {
  animation-delay: 0.3s;
}

.loader-block:nth-child(4) {
  animation-delay: 0.4s;
}

.loader-block:nth-child(5) {
  animation-delay: 0.5s;
}

.loader-block:nth-child(6) {
  animation-delay: 0.6s;
}

.loader-block:nth-child(7) {
  animation-delay: 0.7s;
}

.loader-block:nth-child(8) {
  animation-delay: 0.8s;
}

@keyframes loader_562 {
  0% {
    transform: scale(1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }

  20% {
    transform: scale(1, 2.5);
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.7);
  }

  40% {
    transform: scale(1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }
}






.gif{
  width: 100vw;
}


//2ème section

//img
.about {
  width: 100%;
  height: 100vh;
  position: relative;
}

.about img {
  // width: 60%;
  height: 90%;
  object-fit: cover; /* Ajuste la taille de l'image sans la déformer */
  object-position: bottom left; /* Positionne l'image en bas à gauche */
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -10;
}

// .about-flex {
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-end;
//   align-items: flex-start;
//   // position: relative;
//   z-index: 10;
// }
.about-flex{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
}

  h1{
    font-size: 5em;
    margin-bottom: 0;
    margin-top: 0;
    // width: 75% !important;
    z-index: 20;
    
  }




.about-text{
  // margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end ;
  justify-content: space-around;
  height: 85%;
  margin-right: 10vw;
  width: 100%;
  // margin-left: 20vw;
  // z-index: 10;

  h1{
    font-size: 5em;
    margin-bottom: 0;
    margin-top: 0;
    width: 75% !important;
    text-align: end;
  }

  .bio{
    width: 50%;
    // align-self: fl;
    z-index: 10;
  }

  div>div>p{
      color: #FFCD19;
      font-size: 1em;
      line-height: 1.6em;
      width: fit-content;
      

  }

}

.lottie-quotes{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: -130px;
  z-index: 10;
}

.slider-container {
  position: relative;
  // height: 150px;
  width: 30vw;
  right: 0vw;
  // overflow: hidden;
}

.slider-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s, transform 1s;
}

.slider-item.active {
  opacity: 1;
  transform: skewY(0deg);
}

.slider-item.animation-out {
  opacity: 0;
  transform: skewY(10deg) translateX(20px);

}

.slider-item.animation-in {
  opacity: 1;
  transform: skewY(10deg);
  // transition-delay: 0.5s;
}

.slider-item.animation-in.active {
  transform: skewY(10deg) translateX(0);
  transition-delay: 2s;
}


.lottie-row{
  position: absolute;
  bottom: 0px !important;
  left: 10%;
  width: 1vw;
  // height: 10vw;
  z-index: -5;


}


@media screen and (max-width:1050px){

  .lottie-quotes{
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100px;
    left: -50px;
    z-index: -10;
  }

  .slider-container {
    position: relative;
    // height: 150px;
    width: 100%;
    right: 0vw;
    // overflow: hidden;
  }

  .about {
    width: 100%;
    height: 130vh;
    position: relative;
    margin-top: 50px;
  }

  .about img {
    // width: 60%;
    height: 45%;
    object-fit: cover; /* Ajuste la taille de l'image sans la déformer */
    object-position: bottom left; /* Positionne l'image en bas à gauche */
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .lottie-row{
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0px !important;
    left: 0%;
    // height: 10vw;
    z-index: -10;
  
  }


  .about-text{
    // margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: space-around;
    height: 70%;
    margin-right: 10vw;
    width: 100%;
    // margin-left: 20vw;
    // z-index: 10;
  
    h1{
      font-size: 3em;
      margin-bottom: 0;
      margin-top: 0;
      // width: 75% !important;
      text-align: center;
      line-height: 1em;
    }

    .bio{
      width: 80%;
      line-height: 1.6em;
      margin-top: auto;
      margin-left: auto;
      margin-right: auto;
      align-self: flex-start;
      // justify-self: flex-end;
      z-index: 10;
    }
  
    div>div>p{
        color: #FFCD19;
        font-size: 1em;
        line-height: 1.6em;
        width: 70% !important;
        // align-self: center;
        
  
    }
  
  }
  
}

@media screen and (max-width:780px){
  .lottie-quotes{
    width: 100%;
    height: 100%;
    position: absolute;
    top: -120px;
    left: -50px;
    z-index: -10;
  }
}

@media screen and (max-width:684px){
  .about img{
    height: 35%;
  }
  .lottie-quotes{
    width: 100%;
    height: 100%;
    position: absolute;
    top: -160px;
    left: -50px;
    z-index: -10;
  }

  .slider-container {
    position: relative;
    // height: 150px;
    width: 100%  ;
    right: 0vw;
    margin-left: 0px !important;
    padding-left: 0px !important;
    padding: 0px !important;
    
    // margin-left: auto; 
    // overflow: hidden;
    // margin: auto;
  }

  .slider-item{
    // display: flex;
    // justify-content: center;
  }

}

#typed-text{
  display: inline-block;
  min-height: 2em;
  width: max-content;

    white-space: nowrap; /* Empêche le texte de passer à la ligne */
    // overflow: hidden; /* Masque le texte qui dépasse */
    // border-right: .15em solid; /* Ajoute une animation de curseur */
}


//scrollbar

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

//cursor

.cursor {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms ;
  transition-timing-function: ease-out;
  z-index: 9999;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
  display: inline-block;



}

.cursor::after{
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  border: 8px solid gray;
  border-radius: 50%;
  opacity: 0.5;
  top: -8px;
  left: -8px;
  animation: cursorAnim2 0.5s infinite alternate;

}

@keyframes cursorAnim {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}

@keyframes cursorAnim2 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.4);
  }
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}


.expand{
  animation: cursorAnim3 0.5s forwards;
  border: 1px solid #ffeb3b;
}



@media screen and (max-width: 1050px) {


  .about-text{
    // margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: flex-start;
    height: 85%;
    margin-right: 10vw;
    width: 100%;
    margin-top: 100px;
    margin-right: 0px;
    // margin-left: 20vw;
    // z-index: 10;
}

.about{
  h1{
    text-align: center;
  }

  .about-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
  }

  .bio{
    margin-top: 80px;
    width: 70%;
  }
}


.slider-container {
  align-self: flex-end;
  position: relative;
  height: 150px;
  width: 30vw;
  right: 10vw;
  padding-bottom: 400px;
  margin-left:auto !important ;
  margin-right: auto !important;

  // overflow: hidden;
  p{
    margin-left: 93px !important ;
    margin-right: auto !important;
    margin-top: auto !important;
  }
}

.lottie-quotes{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100px;
  left: -130px;
  z-index: 10;
}
  }

  @media screen and (max-width: 600px) {

    .alban{
      width: 100%;
      font-size: 2.7rem !important;
      text-align: left !important;
    }
    body {
      .cursor {
        display: none;
      }
  
      .about {
        width: 100%;
        height: 150vh !important;
        position: relative;
        margin-top: 50px;
        
      }
    }

    .about-text{
      // margin-top: 50px;
      display: flex;
      // flex-direction: column;
      // align-items: center ;
      // justify-content: center;
      height: 85%;
      margin-right: 0vw;
      width: 100%;
      margin-top: 100px;
      margin-right: 0px;
      // margin-left: 20vw;
      // z-index: 10;
  }
  
    .slider-container {
      align-self: flex-start !important;
      position: relative;
      
      // height: 150px;
      // width: 70% !important;
      // margin-left: auto !important;
      // margin-left: 50%;
      // right: 10vw;
      padding-bottom: 400px;
      // overflow: hidden;
    }

    .slider-item {
      align-self: flex-start;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      // margin: auto;
      // height: 100%;  
      display: flex;
      align-items: flex-start;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.5s, transform 1s;

      p{
        width: 70%;
      }
    }
    
    .lottie-quotes{
      width: fit-content;
      // height: 100%;
      position: relative;
      // top: 35vh;
      left: 20vw;
      z-index: 10;
      
      // display: none;
    }

    .lottie-row{
      display: none;
    }
  
    
  
    
  
    
  }

    @media screen and (max-width:1050px){
      .cursor{
        display: none ;
      }
      
    }

  @media screen and (min-width: 600px) {
.cut{
  display: none;
}
  }

  @media screen and (max-width: 600px) and (min-height: 600px) {
    div.about {
      height: 140vh !important;
    }

    .lottie-quotes{
      width: fit-content;
      // height: 100%;
      position: relative;
      top: 130px; 
      left: 20vw;
      z-index: 10;
      
      // display: none;
    }

    .slider-container {
      align-self: center;
      position: relative;
      
      // height: 150px;
      width: 100%;
      // margin-left: 50%;
      // right: 10vw;
      // padding-bottom: 70vh;
      // overflow: hidden;
    }
  }

  

  // 3ème partie : les réalisations

.laser{
  width: 100vw;
  
  background: rgb(0,0,0) center/cover no-repeat fixed;
  background-image: linear-gradient(165deg, #000000, #000000,#000000,#000000, #077CC1,  #ffcd19,#000000,#000000,#000000 ) !important;
  // overflow-x: hidden;  

}

@media  screen and (max-width:610px) {
  .laser{
    background: rgb(0,0,0) center/cover no-repeat fixed;
    background-image: linear-gradient(145deg, #000000, #000000,#000000,#000000, #077CC1,  #ffcd19,#000000,#000000,#000000 ) !important;
    // overflow: visible;
    overflow-x: hidden; /* Empêche le défilement horizontal */
    
  }
  
}


.production{
  width: 100%;
  height: 100vh;
  // background-color: #ffcd19;
  // background: rgb(0,0,0);
  // background-image: linear-gradient(to  right bottom, #000000, #000000,#000000,#000000, #077CC1, #ffcd19, #ffcd19);

// background-image: linear-gradient(180deg, #ffcd19 0%, #ddb319 100%);




// #077CC1
// #ffcd19
  .production-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  h1{
    text-align: left;
    width: fit-content;
    line-height: 80px;
    margin-left: 100px;
    color: white;
    // flex: 1;

    margin-top: 0px;
  }
}








section {
  position: relative;
  display: flex;
  align-items: center;
  // gap: 2vw;
  padding: 0 50px;
  // min-height: 100vh;
  max-width: 50vw;
  margin: 0 auto;
  cursor: hidden !important;
}

section a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #717171;
  font-weight: 500;
  background: #fff;
  border-radius: 3.125rem;
  margin: 0 auto;
  padding: 6px 26px;
  font-size: 0.9rem;
  transition: 0.3s ease-in-out;
}

.swiper {
  width: 100%;
}



.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination {
  bottom: 34px !important;
  transform: scale(1.3);
}

.swiper-slide {
  height: 70vh !important;
  
  // width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 0 0 80px;
  // filter: grayscale(0.6);
}

.swiper-slide h2 {
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 0.625rem;
  text-transform: uppercase;
  text-align: center;
  padding-top:50px ;
  filter: none;
}

.swiper-slide a:hover {
  color: #005baa;
  cursor: hidden !important;
}

.swiper-slide div {
  transition: 0.25s;
  opacity: 0;
}

.swiper-slide-active {
  filter: grayscale(0) saturate(-50);
  
  
  background-color: #FFCD19;
  opacity: 1;
  
}

.swiper-slide-active div {
  opacity: 1;
  
}

.swiper-slide--one {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("assets/img/spirale.jpg") no-repeat 50% 50% / cover  !important;
}

.swiper-slide--two {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("assets/img/pompignanBlanc.png") no-repeat 50% 50% / cover !important;
}

.swiper-slide--three {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("assets/img/nanoBlanc.png") no-repeat 50% 50% / cover !important;
}

.swiper-slide--four {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("assets/img/antonyBlanc.png") no-repeat 50% 50% / cover !important;
}

.swiper-slide--five {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("assets/img/bitcoinBlanc.png") no-repeat 50% 50% / cover !important;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;

}

:root{
  --swiper-theme-color:#FFCD19 !important;
}

.swiper-pagination-bullet {
  background: var(--swiper-theme-color) !important;
}

@media screen and (max-width:1050px){

  .production{
  width: 100%;
  height: 100vh;

  .production-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  h1{
    text-align: center;
    width: fit-content;
    line-height: 80px;
    margin-left: 0px;
    // flex: 1;

    // margin-top: 100px;
  }

  .bye{
    display: none;
  }


}

section{
  // transform: scale(2,1);
max-width: 90% !important;
padding: 0;
margin-top: 5vh;
}
}

@media screen and (max-width: 600px) {
  .production{
    // border-top: #077CC1 7px solid;
  }
}
  

@media  screen and (max-width: 527px) {
  .production h1{
    font-size: 2.5rem !important;
  }
}


.skills{
  width: 100%;
  height: 100vh;
  
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

.skills > h1{
  width: fit-content;
  margin: auto;

}

.flexSkills{
  display: flex;
  justify-content: space-evenly;
  // align-items: center;
  flex-wrap: wrap;
  
}


.thumbnail {
  margin: 1rem;
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  min-width: 200px;
  max-width: 500px;

  // border-radius: 6%;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .8);
  overflow: hidden;
  cursor: none;
  transition: box-shadow .35s ease;

  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 100%;
  }

  /* Hover transition */
  &:hover {
    box-shadow: 0 20px 15px -8px rgba(0, 0, 0, .8);
  }
}

.thumbnail__container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.thumbnail__img {
  flex: 4 0 auto;
  background-position: center;
  background-size: cover;
  transform: scale(1.2);
  transition: transform .35s ease;
  // cursor: none !important;

  /* Hover transition */
  .thumbnail:hover & {
    transform: scale(1);
  }

  &:before,
  &:after {
    position: absolute;
  }

  &:before {
    content: "Front-end";
    top: 50%;
    left: 50%;
    z-index: 10;
    color: #F8F8F8;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 5px;
    line-height: 2;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #F8F8F8 0%, #F8F8F8 100%);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 45% 3%;
    transform: translate(-50%, -50%);
    transition: opacity .35s linear, transform .35s ease;

    /* Hover transition */
    .thumbnail:hover & {
      opacity: 0;
      transform: translate(-50%, -500%) scale(.5);
    }
    

    
  }

  // &:last-child::before{
  //   content: "Back-end" !important;
  //   top: 50%;
  //   left: 50%;
  //   z-index: 10;
  //   color: #F8F8F8;
  //   font-family: "Poppins", sans-serif;
  //   font-size: 24px;
  //   font-weight: 300;
  //   letter-spacing: 5px;
  //   line-height: 2;
  //   text-transform: uppercase;
  //   background-image: linear-gradient(to right, #F8F8F8 0%, #F8F8F8 100%);
  //   background-position: center bottom;
  //   background-repeat: no-repeat;
  //   background-size: 45% 3%;
  //   transform: translate(-50%, -50%);
  //   transition: opacity .35s linear, transform .35s ease;
  // }

  // --------------2eme--------------------

  


  &:after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .0;
    transition: opacity .35s linear;

    /* Hover transition */
    //modifie la couleur de l'overlay au hover donc un truc plus foncé pour plus de lisiblité
    .thumbnail:hover & {
      opacity: 0.6;
    }
  }
}

.thumbnail__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: #F8F8F8;
  opacity: 0;
  transition: all .35s linear 0s;
  transform: translateY(50px);
}

.thumbnail__caption {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 3rem;
  padding-left: 4rem;
  // margin: auto;

  span{
    // display: inline-block;
    margin-top: 10px;
  }
}

/* Hover transition */
.thumbnail:hover .thumbnail__content {
  opacity: 1;
  transform: translateY(0); 
}




.figma{
  transform: scale(1.3);
}

.java{
  transform: scale(1) translateX(14px) translateY(-8px);
}

.python{
  transform: scale(0.8);
}

.php{
  transform: scale(1.2) translateY(-5px);  
}

.symfony{
  transform: scale(0.8)  !important;
}

.python{
  transform: scale(0.8);
}





// .thumbnail.second-front-end .thumbnail__img:before {
//   content: "Back-end";
//   /* Add any other styles you want for the "Back-end" label */
// }

.second::before{
  content: "Back-end" !important;
  /* Add any other styles you want for the "Back-end" label */
}

.grid-container {
  // padding: 1rem;
  // margin: auto;
  display: grid;
  justify-content: center;
  align-items: flex-end;
  grid-template-columns: repeat(3, 1fr); /* Responsive columns */
  gap: 2.5em; /* Responsive gutter */  
}

.grid-item {
  // min-width: 100px;
  // max-width: 30vw;
  // height: 100px;
  // background-color: black;

  img{
    width: 70%;
  }
}

.secondItem{
  // transform: scale(1.3);
  .grid-item {
    // min-width: 100px;
    // max-width: 30vw;
    // height: 100px;
    // background-color: black;
  
    img{
      width: 90%;
    }
  }
}


@media screen and (max-width:864px){
  .flexSkills{
    
  }
}
  


@media screen and (max-width:1200px){
    .thumbnail{
      max-width: 400px;
    }
}

@media screen and (max-width:1050px){
  .thumbnail{
    // max-width: 300px;
  }
}

@media screen and (max-width:800px){
  .thumbnail{
    width: 100%;
  }

  .grid-item {
    // min-width: 100px;
    // max-width: 30vw;
    // height: 100px;
    // background-color: black;
  
    img{
      width: 40px;
    }
  }
  
}



@media screen and (max-width:480px){
  .first:before, .second:before{
   
      font-size: 1em;
      /* Add any other styles you want for the "Back-end" label */
    
  }

.grid-container {
    // min-width: 100px;
    // max-width: 30vw;
    // height: 100px;
    // background-color: black;
    // gap: 1.7em;
  
    // img{
    //   width: 40px;
    // }
  }

  .secondItem{

    
      gap: 3.5em;
      // margin-right: 10px; 
    
    // transform: scale(1.3);
    .grid-item {
      // min-width: 100px;
      // max-width: 30vw;
      // height: 100px;
      // background-color: black;
      // width: 130%;
    
        img{
          width: 100%;
        }
    }

    span{
      display: inline;
      overflow: visible;
      width: fit fit-content;
      // white-space: nowrap;
    }
  }


  .figma{
    transform: scale(1.3);
  }
  
  .java{
    transform: scale(2) translateX(10px) translateY(-8px) !important;
  }

  .php{
    transform: scale(1.5) translateY(-7px) !important;
  }


}


  
@media screen and (min-width:1000px){
  .secondItem>div{
      img{
        transform: scale(0.9);
      }
  }

  .java{
    transform: scale(1.2) translateX(22px) translateY(-8px) !important;
  }

  .python{
    transform: scale(0.7) !important;
  }
}

@media screen and (max-width:400px) and (min-height:800px){
  .hero{
    height:70vh;
  }
  
}

@media screen and (max-width:1050px){
  .skills>h1,.future>h1,.future>h1{
    font-size: 2.5em !important;
  }
  
}





 @media screen and (max-width:864px){
  .skills{
    height:fit-content !important;
  }
  
 }

 .future{
  // display: block;
  width: 100%;
  height: 100vh;
  margin-top: 110px;

  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;

  h1{
    width: fit-content;
    margin: auto;
    text-align: center;
    line-height: 1em;
    margin-top: 50px;
    

    // font-size: 2.5em;
  }

  .visibleP{
    margin-top: 50px !important;
    width: 70%;
    margin: auto; 
    // text-align: justify;
    line-height: 1.5em;

    &::first-letter {
      font-size: 3em; /* Taille de la première lettre agrandie */
      font-weight: bold; /* Poids en gras pour la première lettre */
      float: left; /* La première lettre se comporte comme un élément flottant */
      margin-right: 10px; /* Espacement entre la première lettre et le texte */
      line-height: 1em; /* Hauteur de ligne normale pour la première lettre */
    }
  }

  .yellowText{
    color: #FFCD19;
    // margin-top: 3vh !important;
    width: 70%;
    margin: auto; 
    // text-align: justify;

    &::first-letter {
      font-size: 3em; /* Taille de la première lettre agrandie */
      font-weight: bold; /* Poids en gras pour la première lettre */
      float: left; /* La première lettre se comporte comme un élément flottant */
      margin-right: 10px; /* Espacement entre la première lettre et le texte */
      line-height: 1em; /* Hauteur de ligne normale pour la première lettre */
    }
  }

  .bandeau{
    display: flex;
    width: 100%;
    justify-content: center;
    // top: -40px;
    // object-fit: contain;

    // transform: translateY(-1vw);
    // z-index: 1;

    img{
      // object-fit: cover;

      width: 100%;
      margin: auto;
      // height: 200px;
      z-index: 1 !important;
    }
  }
}


.flexFuture{
 
}





@media screen and (max-width:1050px){
  .future>div>h1{
    font-size: 2.5em !important;
    margin-top: 0px;
  }

}






:root {
  --bar-scale-y: 0;
  --sparkle-color: rgb(253 244 215 / 40%);
}

@keyframes pop-word {
  to {
    transform: rotateX(0);
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

@keyframes bar-scale {
  to {
    transform: scaleY(1);
  }
}

@keyframes sparkle {
  0% {
    transform: scale(0);
  }

  60% {
    transform: scale(1) translate(4px, 1px) rotate(8deg);
  }

  100% {
    transform: scale(0) translate(4px, 1px) rotate(8deg);
  }
}

@keyframes shimmer {
  to {
    text-shadow: 0 0 8px #077cc1;
  }
}

.production > h1 {
  /* perspective: 5000px; */
}

.word {
  display: inline-block;
  animation: show 0.01s forwards, pop-word 1.5s forwards;
  animation-timing-function: cubic-bezier(0.14, 1.23, 0.33, 1.16);
  animation-delay: 2s;
  opacity: 0;
  transform: rotateX(120deg);
  /* transform-origin: 50% 100%; */
}

.word:nth-of-type(2) {
  /* padding: 0 2rem; */
  animation-delay: 1.5s;
  color: #ffcd19;
}

@media screen and (max-width:900px) {
  .ciao{
    display: none;
  }
  
}





//contact

.contact{
  width: 100%;
  height: 100vh;
  display: grid;
  // place-items: center;
  // gap: 10vw; 
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 1fr;
  // align-items: center;
  justify-items: center;
  margin-top: 100px;
  // grid-auto-flow: dense;

  h1{
    grid-column: 2 / 3;
    justify-self: left;
    align-self: center;
  }
  img{
    width: 70px !important;
    transform-origin: center;
    // position: relative;
    // top: 25px;
    // right: 30px;


  }


  a{
    color: white;
    text-transform: uppercase;
    font-family: "Koulen", sans-serif;
    font-size: 1.3em;
  }

  .medias{
    align-self: flex-start;
    grid-column: 2 / 3;

    display: grid;
    gap: 20px;
    // justify-items: center;
    align-self: start ;
    justify-self: start;
    padding-top: 30px;

    span{
      // display: inline-block;

    position: relative;
    // top: 25px;
    // left: 20px;
    // bottom: 30px;
    text-decoration: underline;
    margin-left: 30px !important;
    bottom: 28px;
    }
    }

  .linkdin a{
    color: #fccd19 !important;

    img{
      display: inline-block;
      transform: scale(0.9) !important  ;
    }
  }

  .codepen a {
    color: #077cc1 !important;
  }



}


.login-box {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  width: 400px;
  padding: 40px;
  // transform: translate(-50%, -50%);
  // background: rgba(24, 20, 20, 0.987);
  // background-image: linear-gradient(to left bottom, #077cc1, #077cc1, #ffcd19, #ffcd19);
  background-color: white;
  // box-shadow: 0 15px 25px #ffcd19; 
  // margin-left: 300px;
  cursor: none;
  font-family: "Poppins";
  // grid-row: span 2;
  align-self:start ;
  // border-radius: 10px;
}

.login-box .user-box {
  position: relative;
  cursor: none;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  border: none;
  border-bottom: 3px solid black;
  outline: none;
  background: transparent;
    cursor: none;
}

textarea{
  background-color: red;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  border: 3px solid black;
  // border-bottom: 1px solid black;
  outline: none;
  background: transparent;
    cursor: none;
    font-family: "Poppins", sans-serif;
}

textarea::placeholder{
  content:"Message";
  // padding: 10px 0;
  font-size: 16px;
  color: black;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  pointer-events: none;
  transition: .5s;
  font-family: "Poppins", sans-serif;
    // cursor: none;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: black;
  font-size: 12px;
  // font-family: "Koulen", sans-serif;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: black;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  cursor: none;
}

.login-box a:hover {
  background: black;
  color: white;
  // border-radius: 5px;
  // box-shadow: 0 0 5px #077cc1,
  //             0 0 25px #077cc1,
  //             0 0 50px #077cc1,
  //             0 0 100px #077cc1;
                cursor: none;
}

.login-box a span {
  position: absolute;
  display: block;
    cursor: none;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, black);
  animation: btn-anim1 2s linear infinite;
    cursor: none;

}
.lll{
  display: flex;
  justify-content: center;
}
.sss{
  // text-align: center;
  display: inline-block;
  width: fit-content;
  font-family: "Koulen", sans-serif; 
  font-size: 1.5em !important; 
  
}




// .flexContact{
//   display: flex;
//   justify-content: space-evenly;
//   gap: 10vw;
//   // align-items: center;
// }


@media screen and (max-width:1050px){
  .contact{
    // margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
      font-size: 2.5em !important;
    }

    .medias{
      margin-left: auto;
      margin-right: auto;  
      display: flex;
      
    }

    div.login-box{
      margin-top: 50px;
      width: 90%;
      margin: auto;
    }

    span{
      display: none;
    }
  }
  
}


.mention{
  position: absolute;
  width: fit-content;
  margin: auto;
  bottom: 15px;
  font-family: "Koulen", sans-serif;
  transition: all 0.3s ease 0s;


  &:hover{
    color: #fccd19;
    transition: all 0.3s ease 0s;
  }
}

@media screen and (max-width:400px){
  .contact{
    margin-top: 150px;
  }
  
}

@media screen and (max-width:450px) and (min-height:850px){
  .hero{
    height: 75vh;
  }

  .future{
    height: 80vh;
  }

  .contact{
    height: 65vh;
  }
}
  

.papaLaser{
  overflow-x: hidden !important;
}

@media screen and (max-width:610px) {
  .laser{
    // overflow-x: hidden !important;
    width: 100%;
  }
  
}
  



@media screen and (max-width:1050px){
  .bloc {
    scroll-snap-align: none; /* Indique où l'élément doit s'aligner après le défilement */
    scroll-snap-stop: normal; /* Force l'arrêt du défilement à chaque point d'arrêt */
    scroll-snap-type: none; /* Active le défilement par défilement régulé sur l'axe Y */
  
  }
  
}
