@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Birthstone&family=GFS+Didot&family=Gugi&family=Koulen&family=Poppins&display=swap");
.bloc {
  scroll-snap-align: start; /* Indique où l'élément doit s'aligner après le défilement */
  scroll-snap-stop: always; /* Force l'arrêt du défilement à chaque point d'arrêt */
  scroll-snap-type: y mandatory; /* Active le défilement par défilement régulé sur l'axe Y */
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  cursor: none;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 1.1rem; /* Augmenter la taille de police pour les mobiles */
  }
}
/* Média query pour les ordinateurs de bureau */
@media screen and (min-width: 768px) {
  body {
    font-size: 1rem; /* Revenir à la taille de police de base pour les ordinateurs de bureau */
  }
}
a {
  cursor: none;
}

h1 {
  font-family: "Koulen", cursive;
  font-size: 7em;
  margin: 0%;
  padding: 0%;
  font-weight: 100;
  width: -moz-fit-content;
  width: fit-content;
}

.hero {
  width: 100%;
  height: 100vh;
  margin-top: 50px;
}

.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.hero-section .hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.hero-section .hero-text p {
  color: white;
  font-size: 1em;
  line-height: 1.6em;
  width: 100%;
}
.hero-section .hero-img {
  width: 600px;
}
.hero-section button {
  cursor: none;
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  color: black;
  font-weight: 600;
  width: 8em;
  height: 2.5em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #077CC1, #FFCD19, #FFCD19, #077CC1);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
  transition: 0.5s;
}
.hero-section button:hover {
  animation: ani 8s linear infinite;
  border: none;
}
@keyframes ani {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.hero-section button:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #FFCD19, #FFCD19, #077CC1, #077CC1);
  background-size: 400%;
  border-radius: 20px;
  transition: 1s;
}
.hero-section button:hover::before {
  filter: blur(20px);
}
.hero-section button:active {
  background: linear-gradient(32deg, #077CC1, #FFCD19, #FFCD19, #077CC1);
}

@media screen and (max-width: 767px) {
  body {
    cursor: none;
  }
  body .hero-img {
    position: relative;
    top: -80px;
    transform: scale(0.6, 0.6);
  }
}
@media screen and (max-width: 1050px) {
  .hero-section {
    flex-wrap: wrap;
  }
  .hero-section .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .hero-section .hero-text h1 {
    text-align: center;
  }
  .hero-section .hero-text p {
    color: white;
    font-size: 1em;
    line-height: 1.5em;
    width: 70%;
  }
  .hero-img {
    transform: scale(0.8, 0.8);
  }
  h1 {
    font-size: 3.5em !important;
  }
}
@media screen and (min-width: 1050px) {
  .hero-img {
    position: relative;
    right: 80px;
  }
  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: start !important;
    margin-left: 20vw;
    width: 100%;
    z-index: 10;
  }
  .hero-text p {
    color: #7D7D7D;
    font-size: 1em;
    line-height: 1.6em;
    width: 80% !important;
  }
}
.hidden {
  display: none;
  visibility: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0); /* Couleur du fond noir avec une opacité de 1 */
  z-index: 9998; /* Assurez-vous que l'overlay est en-dessous du loader */
  display: none; /* Cache l'overlay par défaut */
}

body.loading .overlay {
  display: block; /* Affiche l'overlay lorsque la classe 'loading' est ajoutée au body */
}

/* Ajoutez une classe au body pour indiquer le chargement */
body.loading {
  overflow: hidden; /* Empêche le défilement pendant le chargement */
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  position: fixed; /* Utilisez une position fixe pour centrer le loader */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centre horizontalement et verticalement */
  z-index: 9999; /* Assurez-vous que le loader est au-dessus des autres éléments */
}

.loader:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-color: transparent; /* Définissez la couleur du fond sur noir */
}

.loader-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loader-block {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 2px;
  background-color: #fff;
  box-shadow: 0 0 20px #fff;
  animation: loader_562 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.loader-block:nth-child(1) {
  animation-delay: 0.1s;
}

.loader-block:nth-child(2) {
  animation-delay: 0.2s;
}

.loader-block:nth-child(3) {
  animation-delay: 0.3s;
}

.loader-block:nth-child(4) {
  animation-delay: 0.4s;
}

.loader-block:nth-child(5) {
  animation-delay: 0.5s;
}

.loader-block:nth-child(6) {
  animation-delay: 0.6s;
}

.loader-block:nth-child(7) {
  animation-delay: 0.7s;
}

.loader-block:nth-child(8) {
  animation-delay: 0.8s;
}

@keyframes loader_562 {
  0% {
    transform: scale(1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }
  20% {
    transform: scale(1, 2.5);
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.7);
  }
  40% {
    transform: scale(1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }
}
.gif {
  width: 100vw;
}

.about {
  width: 100%;
  height: 100vh;
  position: relative;
}

.about img {
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover; /* Ajuste la taille de l'image sans la déformer */
  -o-object-position: bottom left;
     object-position: bottom left; /* Positionne l'image en bas à gauche */
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -10;
}

.about-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
}

h1 {
  font-size: 5em;
  margin-bottom: 0;
  margin-top: 0;
  z-index: 20;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  height: 85%;
  margin-right: 10vw;
  width: 100%;
}
.about-text h1 {
  font-size: 5em;
  margin-bottom: 0;
  margin-top: 0;
  width: 75% !important;
  text-align: end;
}
.about-text .bio {
  width: 50%;
  z-index: 10;
}
.about-text div > div > p {
  color: #FFCD19;
  font-size: 1em;
  line-height: 1.6em;
  width: -moz-fit-content;
  width: fit-content;
}

.lottie-quotes {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: -130px;
  z-index: 10;
}

.slider-container {
  position: relative;
  height: 150px;
  width: 30vw;
  right: 0vw;
}

.slider-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s, transform 1s;
}

.slider-item.active {
  opacity: 1;
  transform: skewY(0deg);
}

.slider-item.animation-out {
  opacity: 0;
  transform: skewY(10deg) translateX(20px);
}

.slider-item.animation-in {
  opacity: 1;
  transform: skewY(10deg);
}

.slider-item.animation-in.active {
  transform: skewY(10deg) translateX(0);
  transition-delay: 2s;
}

.lottie-row {
  position: absolute;
  bottom: 0px !important;
  left: 10%;
  width: 1vw;
  z-index: -5;
}

@media screen and (max-width: 1050px) {
  .lottie-quotes {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100px;
    left: -50px;
    z-index: -10;
  }
  .slider-container {
    position: relative;
    height: 150px;
    width: 60vw;
    right: 0vw;
  }
  .about {
    width: 100%;
    height: 130vh;
    position: relative;
    margin-top: 50px;
  }
  .about img {
    height: 45%;
    -o-object-fit: cover;
       object-fit: cover; /* Ajuste la taille de l'image sans la déformer */
    -o-object-position: bottom left;
       object-position: bottom left; /* Positionne l'image en bas à gauche */
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .lottie-row {
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0px !important;
    left: 0%;
    z-index: -10;
  }
  .about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70%;
    margin-right: 10vw;
    width: 100%;
  }
  .about-text h1 {
    font-size: 3em;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    line-height: 1em;
  }
  .about-text .bio {
    width: 80%;
    line-height: 1.6em;
    margin: auto;
    align-self: flex-start;
    z-index: 10;
  }
  .about-text div > div > p {
    color: #FFCD19;
    font-size: 1em;
    line-height: 1.6em;
    width: 100% !important;
  }
}
@media screen and (max-width: 780px) {
  .lottie-quotes {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -120px;
    left: -50px;
    z-index: -10;
  }
}
@media screen and (max-width: 684px) {
  .about img {
    height: 35%;
  }
  .lottie-quotes {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -160px;
    left: -50px;
    z-index: -10;
  }
  .slider-container {
    position: relative;
    height: 150px;
    width: 70vw;
    right: 0vw;
    margin-left: auto;
  }
}
#typed-text {
  display: inline-block;
  min-height: 2em;
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.cursor {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  z-index: 9999;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  border: 8px solid gray;
  border-radius: 50%;
  opacity: 0.5;
  top: -8px;
  left: -8px;
  animation: cursorAnim2 0.5s infinite alternate;
}

@keyframes cursorAnim {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}
@keyframes cursorAnim2 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.4);
  }
}
@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.expand {
  animation: cursorAnim3 0.5s forwards;
  border: 1px solid #ffeb3b;
}

@media screen and (max-width: 1050px) {
  .about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 85%;
    margin-right: 10vw;
    width: 100%;
    margin-top: 100px;
    margin-right: 0px;
  }
  .about h1 {
    text-align: center;
  }
  .about .about-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
  }
  .about .bio {
    margin-top: 80px;
    width: 70%;
  }
  .slider-container {
    align-self: flex-end;
    position: relative;
    height: 150px;
    width: 30vw;
    right: 10vw;
    padding-bottom: 400px;
  }
  .lottie-quotes {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100px;
    left: -130px;
    z-index: 10;
  }
}
@media screen and (max-width: 600px) {
  body .cursor {
    display: none;
  }
  body .about {
    width: 100%;
    height: 150vh !important;
    position: relative;
    margin-top: 50px;
  }
  .about-text {
    display: flex;
    height: 85%;
    margin-right: 0vw;
    width: 100%;
    margin-top: 100px;
    margin-right: 0px;
  }
  .slider-container {
    align-self: center;
    position: relative;
    width: 100%;
    margin-left: 50%;
    padding-bottom: 400px;
  }
  .slider-item {
    align-self: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    opacity: 0;
    transition: opacity 0.5s, transform 1s;
  }
  .lottie-quotes {
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    left: 20vw;
    z-index: 10;
  }
}
@media screen and (max-width: 600px) and (min-height: 600px) {
  div.about {
    height: 140vh !important;
  }
  .lottie-quotes {
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    top: 130px;
    left: 20vw;
    z-index: 10;
  }
}/*# sourceMappingURL=style.css.map */